{{ template "header.html" . }}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow mt-5">
            <div class="card-body p-4">

                <h3 class="text-center mb-4">
                    Вход в панель администратора
                </h3>

                <form method="post" action="/admin/auth">

                    <div class="mb-3">
                        <label class="form-label">Логин</label>
                        <input type="text"
                               name="login"
                               class="form-control"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        <input type="password"
                               name="password"
                               class="form-control"
                               required>
                    </div>

                    <button class="btn btn-primary w-100">
                        Войти
                    </button>

                    <a href="/"
                       class="btn btn-outline-secondary w-100 mt-2">
                        Отмена
                    </a>

                </form>

            </div>
        </div>

    </div>
</div>

{{ template "footer.html" . }}